.body{
    display: flex;
    flex-direction: column;
}
.heading{
    text-align: center;
}
#theresult, #theresult h4, #theresult p{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.thebuttonDiv{
    display: flex;
    gap: 10px;
    justify-content: center;
}